// Card styles
.card {
  border: 0.1rem solid $c-dark-grey;
  background: $c-white;

  &__heading {
    border-bottom: 0.1rem solid $c-dark-grey;
    padding: ($m-gutter / 2) $m-gutter;
    background: $c-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    padding: $m-gutter;

    &--right{
      display: flex;
      justify-content: flex-end;

      > * + * {
        margin-left: $m-gutter;
      }
    }
  }

  // For use on upper level cards
  &--upper {
    margin: $m-gutter 0 ($m-gutter * 2);
  }
}
