// Form Styles
.form {
  &__control {
    margin: 0;
    margin-bottom: $m-gutter;
  }

  &__input {
    width: 100%;
    padding: ($m-gutter / 2);
    font-size: 0.8rem;
  }

  &__action {
    margin: 0;
  }
}
