
// RESETS
body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  min-width: 100%;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
