

// COLORS
$c-primary: #0074d4;
$c-primary-light: #4cc0dd;
$c-accent: #f4ac56;
$c-grey:#f2f2f2;
$c-dark-grey: #dadadc;
$c-black: #292b2c;
$c-white: #fefefe;

// Measurements
$m-gutter: 1rem;


// IMPORTS
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'top-nav';
@import 'card';
@import 'buttons';
@import 'table';
@import 'form';
