

// COLORS
$c-primary: #0074d4;
$c-primary-light: #4cc0dd;
$c-accent: #f4ac56;
$c-grey:#f2f2f2;
$c-dark-grey: #dadadc;
$c-black: #292b2c;
$c-white: #fefefe;

// Measurements
$m-gutter: 1rem;


// IMPORTS
@import 'box-sizing';
@import 'resets';


// LAYOUT
.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}


// TOP NAVIGATION
.section--nav {
  background: $c-primary;
  color: $c-white;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
}

.logo {
  margin: 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.nav-list {
  display: flex;
  justify-content: center;

  > * + * {
    margin-left: $m-gutter;
  }
}


// Card styles

.card {
  border: 0.1rem solid $c-dark-grey;
  background: $c-white;

  &__heading {
    border-bottom: 0.1rem solid $c-dark-grey;
    padding: ($m-gutter / 2) $m-gutter;
    background: $c-grey;
  }

  &__content {
    padding: $m-gutter;

    &--right{
      display: flex;
      justify-content: flex-end;
    }
  }
}

// Button Styles
.button {
  border: 0;
  background: $c-accent;
  color: white;
  padding: ($m-gutter / 2) $m-gutter;
  font-size: 0.9rem;
  outline: none;

  &:active {
    position: relative;
    top: 0.1rem;
    left: 0.1rem;
  }
}


// Table Styles
.table {
  margin-bottom: $m-gutter;
  border-spacing: 0;
  width: 100%;
  text-align: left;

  &__head {
    background: $c-black;
    color: $c-white;

    &__item {
      padding: $m-gutter ($m-gutter / 2);
    }
  }

  &__row {
    &__item {
      padding: $m-gutter ($m-gutter / 2);
    }
  }

  tr:nth-child(even) {
    background-color: $c-grey;
  }
}



// Form Styles
.form {
  &__control {
    margin: 0;
    margin-bottom: $m-gutter;
  }

  &__input {
    width: 100%;
    padding: ($m-gutter / 2);
    font-size: 0.8rem;
  }

  &__action {
    margin: 0;

  }

}
