<div class="section">
  <div class="container">
    <div class="card card--upper">
      <div class="card__heading">
        <h2>Edit Manufacturer</h2>
      </div>

      <div class="card__content">
        <form class="form" {{action "updateCar" on="submit"}}>
          <p class="form__control">
            {{input class="form__input" type="text" placeholder="Model Name" value=model.name}}
          </p>

          <p class="form__control">
            {{input class="form__input" type="text" placeholder="ISO Country Code" value=model.country}}
          </p>


          <p class="form__action">
            {{#link-to "brand.car.index" class="button"}}Back{{/link-to}}
            <button class="button" type="submit">Save Model</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
