<div class="section">
  <div class="container">

  <div class="card card--upper">
    <div class="card__heading">
      <h2>Hello!</h2>
    </div>

    <div class="card__content">
      <h3>Welcome to Razer Cars</h3>
      <p>Your one stop shop for all you car stats neeeds!</p>

      {{#link-to "brands"}}
      <button class="button">See All Manufacturers</button>
      {{/link-to}}
    </div>
  </div>

  </div>
</div>
