<div class="section">
  <div class="container">

  <div class="card">
    <div class="card__heading">
      <h2>Manufacturers</h2>
    </div>

    <div class="card__content">

      <table class="table">

        {{!-- Table Head  --}}
        <tr class="table__head">
          <th class="table__head__item">Manufacturer</th>
          <th class="table__head__item">Country</th>
          <th class="table__head__item">Number of Models</th>
          <th class="table__head__item"></th>
        </tr>

        <tr class="table__row">
          <td class="table__row__item">Mazda</td>
          <td class="table__row__item">JPN</td>
          <td class="table__row__item">0</td>
          <td class="table__row__item">See More</td>
        </tr>

        <tr class="table__row">
          <td class="table__row__item">Mazda</td>
          <td class="table__row__item">JPN</td>
          <td class="table__row__item">0</td>
          <td class="table__row__item">See More</td>
        </tr>

        <tr class="table__row">
          <td class="table__row__item">Mazda</td>
          <td class="table__row__item">JPN</td>
          <td class="table__row__item">0</td>
          <td class="table__row__item">See More</td>
        </tr>

        <tr class="table__row">
          <td class="table__row__item">Mazda</td>
          <td class="table__row__item">JPN</td>
          <td class="table__row__item">0</td>
          <td class="table__row__item">See More</td>
        </tr>

        <tr class="table__row">
          <td class="table__row__item">Mazda</td>
          <td class="table__row__item">JPN</td>
          <td class="table__row__item">0</td>
          <td class="table__row__item">See More</td>
        </tr>
      </table>



    </div>
  </div>

  </div>
</div>
