<div class="section section--nav">
  <div class="container">
    <div class="nav">
      <h1 class="logo">Razer Cars</h1>
      <div class="nav-list">
        {{#link-to 'index'}}<div class="nav-list__item">Home</div>{{/link-to}}
        {{#link-to 'brands'}}<div class="nav-list__item">All Manufacturers</div>{{/link-to}}
        {{#link-to 'brand-new'}}<div class="nav-list__item">Add Manufacturer</div>{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}
