<div class="section section--nav">
  <div class="container">
    <div class="nav">
      <h1 class="logo">Razer Cars</h1>
      <div class="nav-list">
        {{#link-to 'index'}}<div class="nav-list__item">Home</div>{{/link-to}}
        <div class="nav-list__item">All Manufacturers</div>
        <div class="nav-list__item">Add Manufacturer</div>
      </div>
    </div>
  </div>
</div>







{{outlet}}
