<div class="section">
  <div class="container">

    <div class="card card--upper">
      <div class="card__heading">
        <h2>Manufacturers</h2>
      </div>

      <div class="card__content">
        <table class="table">
          <tr class="table__head">
            <th class="table__head__item">Manufacturer</th>
            <th class="table__head__item">Country</th>
            <th class="table__head__item">Number of Models</th>
            <th class="table__head__item"></th>
            <th class="table__head__item"></th>
          </tr>

          {{#each model as |brand|}}
            <tr class="table__row">
              <td class="table__row__item">{{brand.name}}</td>
              <td class="table__row__item">{{brand.country}}</td>
              <td class="table__row__item">0</td>
              {{#link-to 'brand.car' brand.id}}
                <td class="table__row__item">See More</td>
              {{/link-to}}
              <td><button class="button" {{ action "deleteBrand" brand}}>X</button></td>
            </tr>
          {{/each}}

        </table>
      </div>
    </div>

  </div>
</div>
