<div class="section">
  <div class="container">
    <div class="card card--upper">
      <div class="card__heading">
        <h2>{{model.name}}</h2>
      </div>
      <div class="card__content card__content--right">
        <button class="button">Add New Car</button>
      </div>
    </div>

    <div class="grid">
      <div class="grid__item">
        <div class="card">
          <div class="card__heading">
            <h3>2017 - Model Name</h3>
          </div>
          <div class="card__content">
            <p>Horsepower: xxxx</p>
            <p>Price: $17,845</p>
          </div>
        </div>
      </div>

      <div class="grid__item">
        <div class="card">
          <div class="card__heading">
            <h3>2017 - Model Name</h3>
          </div>
          <div class="card__content">
            <p>Horsepower: xxxx</p>
            <p>Price: $17,845</p>
          </div>
        </div>
      </div>

      <div class="grid__item">
        <div class="card">
          <div class="card__heading">
            <h3>2017 - Model Name</h3>
          </div>
          <div class="card__content">
            <p>Horsepower: xxxx</p>
            <p>Price: $17,845</p>
          </div>
        </div>
      </div>

      <div class="grid__item">
        <div class="card">
          <div class="card__heading">
            <h3>2017 - Model Name</h3>
          </div>
          <div class="card__content">
            <p>Horsepower: xxxx</p>
            <p>Price: $17,845</p>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
