<div class="section">
  <div class="container">
    <div class="card">
      <div class="card__heading">
        <h2>Brand Name</h2>
      </div>
      <div class="card__content card__content--right">
        <button class="button">Add New Car</button>
      </div>
    </div>
  </div>
</div>
